 /* Navbar */

 .menu {
    background-color: var(--purple-medium);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    margin-bottom: 60px;
  }
  
  .menu a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 26px;
    background-color: var(--purple-medium);
    margin: 0 10px;
    transition: .5s ease all;
    color: var(--gray-light);
    text-decoration: none;
  }
  
  .menu a:hover {
    transform: translateY(18px);
    background-color: var(--purple-light);
  }

  /* ------------------------- */
/* Acerca de */
/* ------------------------- */
.acerca_de {
	margin-bottom: 60px;
}
