/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 992px) {
	p {
		font-size: 18px;
	}

	.contenido-header .texto {
		font-size: 60px;
	}

	.menu a {
		font-size: 20px;
	}

	.nosotros .titulo,
	.productos .titulo {
		font-size: 30px;
	}

}